@charset "utf-8";

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color :#fff;
    width: fit-content;
    height: fit-content;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 30px 30px 50px;
}
.wrap > div:first-child{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.wrap .box{
    display: flex;
    align-items: center;
}
.wrap .box > span{
    margin-right: 30px;
    font-size: 1.5rem;
}
.wrap .box > input:nth-child(2){
    border-radius: 5px;
    border: none;
    background-color: #fff;
    width: 300px;
    height: 35px;
    margin-right: 30px;
    padding-left: 15px;
    font-size: 1rem;
}
.wrap .box > input:last-child{
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #4297e2;
    color: #fff;
    padding: 0 10px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}




/* tablet */
/* @media screen and (min-width:767px) and (max-width:1024px) {
} */

/* mobile */
@media screen and (max-width:767px) {
    body{
        padding: 0 10px;
    }
    .wrap .box{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .wrap > div:first-child{
        font-size: 1.5rem;
    }
    .wrap .box > span{
        margin-right: 0;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    .wrap .box > input:nth-child(2){
        width: 180px;
        margin-right: 0;
        margin-bottom: 10px;
        height: 30px;
    }
    .wrap .box > input:last-child{
        height: 30px;
    }
}