/* contents start */
.inner .box{
    margin: 0 auto;
    width: 75%;
    margin-top: 15%;
    margin-bottom: 12%;
    text-align: center;
    border: 2px solid #c60d41;
    animation: text1 1s .2s both;
}
.inner .box h1{
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: text1 1s .8s both;
}
.inner .box h1 span{
    color: #c60d41;
}
.inner .box h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 40px;
    animation: text1 1s 1.2s both;
}
.inner .box p{
    font-size: 1rem;
    font-weight: 300;
    animation: text1 1s 1.6s both;
    margin-bottom: 50px;
    word-break: keep-all;
}
@keyframes text1{
    0% { opacity: 0; transform: translateY(20px);}
    100% { opacity: 1; transform: translateY(0);}
}
.inner .wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.inner .wrapper .wrapbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 15%;
}
.inner .wrapper .wrapbox:first-child{
    animation: text1 1s 2s both;
}
.inner .wrapper .wrapbox .pic{
    width: 45%;
    height: 230px;
    margin-right: 40px;
}
.inner .wrapper .wrapbox .pic.company{
    background: url(/portfolio/lg/images/companypic.png) 0 60% no-repeat;
    background-size: cover;
}
.inner .wrapper .wrapbox .pic.person{
    background: url(/portfolio/lg/subimages/person.jpg) 0 0 no-repeat;
    background-size: cover;
}
.inner .wrapper .wrapbox .pic.desk{
    background: url(/portfolio/lg/subimages/desk.jpg) 0 0 no-repeat;
    background-size: cover;
}
.inner .wrapper .wrapbox .description{
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.inner .wrapper .wrapbox .description p:first-child,
.inner .wrapper .wrapcenter p{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 40px;
}
.inner .wrapper .wrapbox .description p:last-child{
    font-size: 1rem;
    font-weight: 300;
    word-break: keep-all;
    text-align: justify;
}
.inner .wrapper .wrapcenter{
    width: 100%;
    margin-bottom: 10%;
    margin-top: -2%;
}
.inner .wrapper .wrapcenter p{
    text-align: center;
}
.inner .wrapper .wrapcenter table{
    width: 80%;
    height: auto;
    border-collapse: collapse;
    margin: 0 auto;
}
.inner .wrapper .wrapcenter table tr td,
.inner .wrapper .wrapcenter table tr th{
    border: 1px solid #aaa;
    width: 50%;
    height: 50px;
    text-align: center;
    font-weight: 300;
}
.inner .wrapper .wrapcenter table tr th{
    border-left: none;
}
.inner .wrapper .wrapcenter table tr td{
    border-right: none;
}