h1{
    font-size: 2.8rem;
    font-weight: 400;
    margin: 15% auto 8%;
    text-align: center;
}
h1 > span{
    color: #c60d41;
}
.tab{
    width: 100%;
    margin: 0 0 15% 0;
}
.tab ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 10%;
    position: relative;
}
.tab ul::after{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tab ul li{
    width: 33.3%;
    height: 80px;
    line-height: 80px;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.tab ul li.on::after{
    width: 60%;
}
.tab ul li::after{
    display: block;
    content: "";
    width: 0%;
    height: 4px;
    background-color: #c60d41;
    position: absolute;
    left: 20%;
    bottom: 0;
    transition: all 0.4s ease-out;
}
.tab .conBox{
    display: none;
    width: 100%;
    height: auto;
}
.tab .conBox.on{
    display: block;
}


.box{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
}
.box .brandpic{
    width: 60%;
    height: 60px;
    /* border: 1px solid #000; */
    margin-bottom: 20%;
}
.box > p {
    position: absolute;
    bottom: 35%;
    left: 40%;
    opacity: 0;
    transition: all 0.7s;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.box > p > i{
    font-size: 2.5rem;
    color: #c60d41;
}
.box.on{
    background-color: rgba(238,238,238,0.6);
    background-blend-mode: multiply;
    transition: all 1s;
}
.box > p.on{
    opacity: 1;
}
.box > span{
    font-weight: 300;
}


/* _______________________brand common part */


/* cosmetic part */
.tab .conBox .wrap{
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* household goods & beverage part */
.swiper-pagination-bullet{
    background-color: #c60d41;
}
.tab .conBox .wrap_2{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.tab .conBox .wrap_2 .swiperbox{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}
.tab .conBox .wrap_2 .swiperbox > span{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}
.tab .conBox .wrap_2 .swiperbox .Subswiper{
    width: 85%;
}
.tab .conBox .wrap_2 .swiperbox .Subswiper .swiper-wrapper{
    width: 100%;
}
.swiper-slide{
    width: 200px;
    height: auto;
}
.tab .conBox .wrap_2 .swiperbox .Subswiper .swiper-wrapper .swiper-slide .box{
    margin: 0;
}


/* brand picture */
.box .brandpic.hu{
    background: url(/lg/subimages/brandlogo/cosmetics/hu.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.ohui{
    background: url(/lg/subimages/brandlogo/cosmetics/ohui.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.sum{
    background: url(/lg/subimages/brandlogo/cosmetics/sum.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.belif{
    background: url(/lg/subimages/brandlogo/cosmetics/belif.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.belif{
    background: url(/lg/subimages/brandlogo/cosmetics/belif.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.isaknox{
    background: url(/lg/subimages/brandlogo/cosmetics/isaknox.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.sooryehan{
    background: url(/lg/subimages/brandlogo/cosmetics/sooryehan.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.lacvert{
    background: url(/lg/subimages/brandlogo/cosmetics/lacvert.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.vonin{
    background: url(/lg/subimages/brandlogo/cosmetics/vonin.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.lifegarden{
    background: url(/lg/subimages/brandlogo/cosmetics/lifegarden.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.carezone{
    background: url(/lg/subimages/brandlogo/cosmetics/carezon.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.beyound{
    background: url(/lg/subimages/brandlogo/cosmetics/beyond.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.dermalift{
    background: url(/lg/subimages/brandlogo/cosmetics/dermalift.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.tuneage{
    background: url(/lg/subimages/brandlogo/cosmetics/tunage.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.thefaceshop{
    background: url(/lg/subimages/brandlogo/cosmetics/thefaceshop.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.naturecollection{
    background: url(/lg/subimages/brandlogo/cosmetics/naturecollection.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.vdl{
    background: url(/lg/subimages/brandlogo/cosmetics/vdl.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.vov{
    background: url(/lg/subimages/brandlogo/cosmetics/vov.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.su{
    background: url(/lg/subimages/brandlogo/cosmetics/thesagaofsu.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cnp{
    background: url(/lg/subimages/brandlogo/cosmetics/cnp.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.vdivov{
    background: url(/lg/subimages/brandlogo/cosmetics/vdivov.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cnprx{
    background: url(/lg/subimages/brandlogo/cosmetics/cnp_rx.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.hempha{
    background: url(/lg/subimages/brandlogo/cosmetics/hempamax.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.code{
    background: url(/lg/subimages/brandlogo/cosmetics/code.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.elastin{
    background: url(/lg/subimages/brandlogo/householdgoods/elastin.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.organist{
    background: url(/lg/subimages/brandlogo/householdgoods/organist.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.rien{
    background: url(/lg/subimages/brandlogo/householdgoods/rien.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.drgrut{
    background: url(/lg/subimages/brandlogo/householdgoods/drgroot.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.silkteraphy{
    background: url(/lg/subimages/brandlogo/householdgoods/silkteraphy.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.pitoderma{
    background: url(/lg/subimages/brandlogo/householdgoods/phytoderma.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.belmon{
    background: url(/lg/subimages/brandlogo/householdgoods/velment.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.gentology{
    background: url(/lg/subimages/brandlogo/householdgoods/gentology.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.dbong{
    background: url(/lg/subimages/brandlogo/householdgoods/dbong.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.pigiogel{
    background: url(/lg/subimages/brandlogo/householdgoods/physiogel.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.shafran{
    background: url(/lg/subimages/brandlogo/householdgoods/shafran.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.shafran_aura{
    background: url(/lg/subimages/brandlogo/householdgoods/shafran_aura.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.shafran_care{
    background: url(/lg/subimages/brandlogo/householdgoods/shafran_care.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.onebite{
    background: url(/lg/subimages/brandlogo/householdgoods/onebite.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.tech{
    background: url(/lg/subimages/brandlogo/householdgoods/tech.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.supertie{
    background: url(/lg/subimages/brandlogo/householdgoods/supertie.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.fiji{
    background: url(/lg/subimages/brandlogo/householdgoods/fiji.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.homestar{
    background: url(/lg/subimages/brandlogo/householdgoods/homestar.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.safe{
    background: url(/lg/subimages/brandlogo/householdgoods/safe.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.pongpong{
    background: url(/lg/subimages/brandlogo/householdgoods/pongpong.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.naturepong{
    background: url(/lg/subimages/brandlogo/householdgoods/naturepong.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.perio{
    background: url(/lg/subimages/brandlogo/householdgoods/perio.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.jukyeum{
    background: url(/lg/subimages/brandlogo/householdgoods/jukyeum.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.reach{
    background: url(/lg/subimages/brandlogo/householdgoods/reach.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.babience{
    background: url(/lg/subimages/brandlogo/householdgoods/babience.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.todiyang{
    background: url(/lg/subimages/brandlogo/householdgoods/todiang.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.method{
    background: url(/lg/subimages/brandlogo/householdgoods/method.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.serious{
    background: url(/lg/subimages/brandlogo/householdgoods/sirius.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.aura{
    background: url(/lg/subimages/brandlogo/householdgoods/aura.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.giftset{
    background: url(/lg/subimages/brandlogo/householdgoods/gitset.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.minis{
    background: url(/lg/subimages/brandlogo/householdgoods/minis.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cocacola{
    background: url(/lg/subimages/brandlogo/beverages/cocacola.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cocacola_zero{
    background: url(/lg/subimages/brandlogo/beverages/cocacola_zero.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cocacola_light{
    background: url(/lg/subimages/brandlogo/beverages/cocacola_light.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.fanta{
    background: url(/lg/subimages/brandlogo/beverages/fanta.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.sprite{
    background: url(/lg/subimages/brandlogo/beverages/sprite.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.sprite_kincidar{
    background: url(/lg/subimages/brandlogo/beverages/sprite_kincida.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.seuweps{
    background: url(/lg/subimages/brandlogo/beverages/suweps.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.milksoda{
    background: url(/lg/subimages/brandlogo/beverages/milksoda.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.drpepper{
    background: url(/lg/subimages/brandlogo/beverages/drpepper.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.canadadry{
    background: url(/lg/subimages/brandlogo/beverages/canadadry.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cigram{
    background: url(/lg/subimages/brandlogo/beverages/cigram.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cigram_carbonate{
    background: url(/lg/subimages/brandlogo/beverages/cigram_carbonate.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.minitmade{
    background: url(/lg/subimages/brandlogo/beverages/minitmade.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.minitmade_sparkling{
    background: url(/lg/subimages/brandlogo/beverages/minitmade_sparkling.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.minitmade_cuwoo{
    background: url(/lg/subimages/brandlogo/beverages/minitmade_cuwoo.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.minitmade_flower{
    background: url(/lg/subimages/brandlogo/beverages/minitmade_flower.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.minitmade_cocogumi{
    background: url(/lg/subimages/brandlogo/beverages/minitmade_cocogumi.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.jojia{
    background: url(/lg/subimages/brandlogo/beverages/jojia.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.sun_marte{
    background: url(/lg/subimages/brandlogo/beverages/sunmate.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.sun_bodyw{
    background: url(/lg/subimages/brandlogo/beverages/sunbody.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.goldpeak{
    background: url(/lg/subimages/brandlogo/beverages/goldpeak.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.powerade{
    background: url(/lg/subimages/brandlogo/beverages/powerade.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.toreta{
    background: url(/lg/subimages/brandlogo/beverages/toreta.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.huio_diamond{
    background: url(/lg/subimages/brandlogo/beverages/huio_diamond.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.huio_diamond_ec{
    background: url(/lg/subimages/brandlogo/beverages/huio_diamondec.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.huio_jeju{
    background: url(/lg/subimages/brandlogo/beverages/huio_jeju.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.huio_sunsu{
    background: url(/lg/subimages/brandlogo/beverages/huio_sunsu.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.cigram_mineral{
    background: url(/lg/subimages/brandlogo/beverages/cigram_mineralwater.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.glaso{
    background: url(/lg/subimages/brandlogo/beverages/glaso.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.ades{
    background: url(/lg/subimages/brandlogo/beverages/ades.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.haetae{
    background: url(/lg/subimages/brandlogo/beverages/haetaehtb.png) 50% 50% no-repeat;
    background-size: contain;
}
.box .brandpic.sunkist{
    background: url(/lg/subimages/brandlogo/beverages/sunkist.png) 50% 50% no-repeat;
    background-size: contain;
}