/* contents start */
.inner .box{
    margin-top: 130px;
    text-align: center;
}
.inner .box h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
.inner .box h1 span{
    color: #c60d41;
}
.inner .box h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.inner .box p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 10%;
}
.inner .wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.inner .wrapper .wrapbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
.inner .wrapper .wrapbox .pic{
    width: 45%;
    height: 250px;
    margin-bottom: 90px;
    margin-right: 40px;
}
.inner .wrapper .wrapbox .pic.company{
    background: url(/portfolio/lg/images/companypic.png) 0 50% no-repeat;
    background-size: cover;
}
.inner .wrapper .wrapbox .pic.person{
    background: url(/portfolio/lg/subimages/person.jpg) 0 0 no-repeat;
    background-size: cover;
}
.inner .wrapper .wrapbox .pic.desk{
    background: url(/portfolio/lg/subimages/desk.jpg) 0 0 no-repeat;
    background-size: cover;
}
.inner .wrapper .wrapbox .description{
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.inner .wrapper .wrapbox .description p:first-child,
.inner .wrapper .wrapcenter p{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 40px;
}
.inner .wrapper .wrapbox .description p:last-child{
    font-size: 1rem;
    font-weight: 300;
    word-break: keep-all;
    text-align: justify;
}
.inner .wrapper .wrapcenter p{
    text-align: center;
    margin-top: 80px;
}
.inner .wrapper .wrapcenter{
    width: 100%;
}
.inner .wrapper .wrapcenter table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin-bottom: 80px;
}
td{
    border: 1px solid #000;
    width: 50%;
    height: 50px;
    text-align: center;
}

