@charset "utf-8";
/* contents start */
.inner .box{
    margin-top: 100px;
}

.inner .box h1{
    font-size: 2rem;
}
.inner .box h2{
    font-size: 1.5rem;
}
.inner .box p{
    font-size: 1rem;
}
.inner .wrapper{
    flex-flow: column wrap;
    justify-content: flex-start;
}
