@charset "utf-8";
body{
    min-width: 641px;
    max-width: 1024px
}
.inner{
    width: 93%;
}

/*lg 로고 */
body > .inner > a{
    background: url(../images/horizontal_logo.png) 0 0 no-repeat;
    width: 230px;
    height: 80px;
    background-size: contain;
    left: 50px;
    top: 50px;
}
body > .inner > a.on{
    display: none;
}

/*m_menu*/
body > .inner .mallbar{
    display: block;
    font-size: 3.1rem;
    color: #fff;
    position: fixed;
    right: 50px;
    top: 15px;
    z-index: 100;
}
body > .inner .mallbar.on{
    color: #c60d41;
}

/* common part */
.intro .inner .introduction a,
.intro2 a,
.intro3 a,
.hr > a,
.investment > a{
    display: block;
    width: 150px;
    height: 65px;
    line-height: 55px;
    font-size: 1.3rem;
}

/* script editing */
.swiper-container-vertical > .swiper-pagination-bullets {
    right: 50px;
}
.swiper-container-vertical > .swiper-pagination-bullets::before{
    display: none; 
}
.swiper-button-prev,
.swiper-button-next{
    display: none;
}


/* mobile navigaition */
.mnav{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: auto;
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.mnav.on{
    display: block;
}
.mnav ul{
    list-style: none;
}
.mnav .m_menu .depth1 .mnav_logo{
    display: inline-block;
    background: url(../images/circle_logo.png) 0 0 no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 15px 0 15px;
}
.mnav .m_menu{
    width: 100%;
    height: 50vh;
    background-color: #fff;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-top: 20px;
}
.mnav .m_menu .depth1{
    width: 100%;
    height: auto;
    text-align: center;
}
.mnav .m_menu .depth1 > a{
    font-size: 1.8rem;
    font-weight: 400;
}
.mnav .m_menu .depth1 .m_menu_1{
    margin: 10px 0 10px 0;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2 > a{
    font-size: 1.4rem;
    font-weight: 300;
}
.mnav .m_menu .depth1 .m_menu_1 > .depth2 > a.on{
    color: #c60d41;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2{
    height: auto;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2,
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2_1{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2 .depth3 > a,
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2_1 .depth3 > a{
    font-size: 1.2rem;
    font-weight: 300;
}
/* brand arrange */
.mnav .m_menu .depth1:last-child .m_menu_1 .depth2:first-child .m_menu_2{
    display: flex;
    flex-flow: row wrap;
}
.mnav .m_menu .depth1:last-child .m_menu_1 .depth2:first-child .m_menu_2 > li{
    width: 50%;
}
.mnav .m_searching{
    display: flex;
    justify-content: space-between;
    width: 57%;
    font-size: 2.5rem;
    color: #c60d41;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fa, .fas{
    font-family: "Font Awesome 5 Pro";
    font-weight: 500;
    padding-top: 15px;
    padding-left: 10px;
}
.fa, .fas.fa-search{
    padding-top: 25px;
    padding-left: 35px;
}
.mnav .m_searching .lang{
    display: inline-block;
    border: 1px solid #c60d41;
    margin: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 0.9rem;
    text-align: center;

}

/* pc navigation */
nav{
    display: none;
}

/* intro*/
.intro{
    background: url(../images/bg1-1.png) 70% 60% no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.intro .inner .introduction h1{
    font-size: 2rem;
    text-shadow: none;
}
.intro .inner .introduction h1:first-child{
    font-size: 3.4rem;
    text-shadow: none;
}
.intro .inner .introduction p{
    font-size: 1rem;
}

/* intro2 */
.intro2{
    background-position: 40% 50%;
}
.intro2 h1{
    font-size: 3.4rem;
}
.intro2 h1 + h1{
    font-size: 1.8rem;
}
.intro2 p{
    width: 55%;
    text-align: center;
}

/* intro3 */
.intro3{
    background: url(../images/seoulbigsize.jpg) 50% 0 no-repeat;
    background: cover;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    position: relative;
}
.intro3 h1{
    font-size: 3.4rem;
}
.intro3 p{
    width: 60%;
    text-align: center;
}

/* business part */
section.business{
    background-position: 45% 40%;
}
.business h2{
    font-size: 3.4rem;
    margin-top: 5%;
}
.business .box{
    width: 77%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0;
    position: static;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    flex-basis: 500px;
}
.business .wrapper{
    width: 100%;
    height: 500px;
    margin-right: 40px;
}   
.business .wrapper:first-child,
.business .wrapper:last-child{
    position: static;
}
.business .wrapper:nth-child(2){
    position: static;
}
.business .box .wrapper .subbox.maincircle{
    width: 270px;
    height: 270px;
}
.ie10 .business .box .wrapper .subbox.maincircle,
.ie11 .business .box .wrapper .subbox.maincircle{
    width: 220px;
    height: 220px;
}
.business .box .wrapper > p{
    display: block;
    width: 100%;
    font-size: 1rem;
}
.ie10 .business .box .wrapper > p,
.ie11 .business .box .wrapper > p{
    font-size: 0.7rem;
}
.business .box .wrapper .subbox.maincircle > div:first-child > span:first-child{
    font-size: 2.2rem;
}
.ie10 .business .box .wrapper .subbox.maincircle > div:first-child > span:first-child,
.ie11 .business .box .wrapper .subbox.maincircle > div:first-child > span:first-child{
    font-size: 1.8rem;
}
.business .box .wrapper .subbox.maincircle > div:first-child > span:last-child{
    font-size: 1.5rem;
}
.ie10 .business .box .wrapper .subbox.maincircle > div:first-child > span:last-child,
.ie11 .business .box .wrapper .subbox.maincircle > div:first-child > span:last-child{
    font-size: 1.1rem;
}
.business .box .wrapper .subbox.maincircle > div:last-child > span:first-child{
    font-size: 3rem;
}
.ie10 .business .box .wrapper .subbox.maincircle > div:last-child > span:first-child,
.ie11 .business .box .wrapper .subbox.maincircle > div:last-child > span:first-child{
    font-size: 2rem;
}
.business .box .wrapper .subbox.maincircle > div:last-child > span:last-child{
    font-size: 1.3rem;
}
.ie10 .business .box .wrapper .subbox.maincircle > div:last-child > span:last-child,
.ie11 .business .box .wrapper .subbox.maincircle > div:last-child > span:last-child{
    font-size: 0.8rem;
}
.business .box .wrapper .subbox.maincircle > div:last-child > span:last-child::before{
    width: 50px;
    height: 75px;
}
.business .box .wrapper:first-child .subbox.maincircle > div:last-child > span:last-child::before{
    bottom: 23px;
}
.business .box .wrapper:nth-child(2) .subbox.maincircle > div:last-child > span:last-child::before{
    bottom: 25px;
}
.business .box .wrapper:last-child .subbox.maincircle > div:last-child > span:last-child::before{
    bottom: 21px;
}
.business .mbusiness{
    display: block;
    height: 60px;
    line-height: 55px;
    font-size: 1.2rem;
}
.basicSwiper .swiper-slide.swiper-slide-active .business .mbusiness{
    animation: arrowAnimation_mobile 2s ease-out both;
    animation-delay: 2s;
}
@keyframes arrowAnimation_mobile {
    0% {
    transform: translateY(-10px);
    opacity: 0
    }
    30% {
    opacity: 0.5
    }
    60% {
    opacity: 0.8
    }
    to {
    transform: translateY(0px);
    opacity: 1
    }
}

/* investmet part */
section.investment{
    background-position: 80% 40%;
    justify-content: center;
}
.investment h2{
    font-size: 3.4rem;
    padding-top: 50px;
    margin-bottom: 10px;
    margin-top: 0;
}
.investment .box{
    width: 100%;
    overflow-x: auto;
}
.investment .box .subbox.description{
    width: 175px;
    height: 250px;
}
.investment .box .subbox.description p{
    font-size: 1.5rem;
    margin-top: -8px;
}
.investment .box .subbox.description span:first-of-type{
    margin-bottom: 10px;
}
.investment .box .subbox.description span{
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.investment > p {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}
.investment > a{
    width: 150px;
    height: 60px;
    line-height: 55px;
    font-size: 1.2rem;
    margin-top: 5px;
}
.investment .box .subbox.description p.mark::before{
    width: 100px;
    height: 100px;
    left: 20%;
    top: 10px;
}

/* news part */
.news .clip{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
iframe{
    margin-top: 20px;
    width: 500px;
    height: 200px;
}
.order1{
    order: 1;
}
.news .clip .subbox{
    width: 100%;
}
.order2{
    order: 2;
}
.news .clip .subbox .event{
    background-size: cover;
    width: 70%;
    height: 200px;
    margin-left: 0;
    border: 2px solid #c60d41;
    margin-top: 20px;
}
.news .clip .subbox > div:last-child > div > i{
    font-size: 1.8rem;
    margin: 0 5px 0 5px;
    padding-top: 10px;
}

/* hr part */
section.hr{
    background: url(../images/hr-bg.png) 40% 50% no-repeat;
}
.hr h2{
    font-size: 3.4rem;
    margin-bottom: 20px;
    margin-top: 0;
}
.hr .box{
    width: 93%;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.hr .subbox.hrcircle{
    width: 180px;
    height: 180px;
    position: static;
}
.hr .subbox.hrcircle::after{
    display: none;
}
.hr .subbox.hrcircle span{
    font-size: 1.5rem;
}
/* footer */
.basicSwiper .swiper-slide.swiper-slide-active footer{
    animation: none;
}
footer{
    display: none;
}
footer.on{
    display: block;
}
.footarrow{
    display: block;
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    bottom: 1%;
    left: 45%;
    z-index: 1;
}
footer .button{
    display: block;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
footer{
    height: auto;
}
footer .inner{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
footer .inner > div:first-child a{
    display: none;
}
footer .inner .text div:first-child{
    text-align: center;
}
footer .inner .text div:nth-child(2) > p:first-child,
footer .inner .text div:nth-child(2) > p:nth-child(2){
    margin-bottom: 10px;
    text-align: center;
}
footer .inner .text div:last-child > p:nth-child(3) > span:first-child::after{
    display: none;
}
footer .inner .text div:last-child > p:nth-child(3){
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
footer .inner .text div:last-child > p:last-child{
    text-align: center;
}
footer .inner .contact::after{
    display: none;
}
footer .inner .contact > span:first-of-type{
    color: #c60d41;
    text-align: center;
    font-size: 1.2rem;
}
footer .inner .contact > span:nth-of-type(2){
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .contact > p{
    text-align: center;
}
footer .inner .contact{
    margin-top: 10px;
    margin-bottom: 10px;
}